/* Définition des polices personnalisées */
@font-face {
	font-family: "GINKO";
	src: url('../fonts/GINKO.ttf');
}

@font-face {
	font-family: "Melbourne";
	src: url('../fonts/Melbourne_regular_basic.otf');
}

@font-face {
	font-family: "Melbourne";
	font-weight: bold;
	src: url('../fonts/Melbourne_bold_basic.otf');
}

@font-face {
	font-family: "Melbourne_light";
	font-weight: bold;
	src: url('../fonts/Melbourne_light_basic.otf');

}
/* Eléments principaux de la page */

* {
	
}


body {
	background: url('../images/bg_body.jpg');
	font-family: 'Melbourne', Arial, sans-serif;
    color: #5c5c5c;
    margin: 0px;
    padding: 0px;
}

#logo {

	margin-top: 50px;
}


/* Header */

#container
{
   background: url('../images/bg_header.jpg') ;
   background-repeat: no-repeat; /* Le fond ne sera pas répété */
   background-position: top center; 
   background-size: 1312px 622px;
   }



aside h2
{
        text-transform: uppercase;
}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    background-color : rgba(141, 174, 36, 0.7);
    margin : 0px ;
    padding : 7px 200px 7px 0px;
    
}

nav li {
	margin-right: 15px;
	
}

nav a
{
    color: #fff;
    padding-bottom: 3px;
    text-decoration: none;
}


/* titre */

section {
	width: 942px;
	margin: auto;
}


figure {
	margin-top:40px;
	margin-bottom:0px;
	
}


.titre_principal {
	
display:flex;

	}


.titre_lien {
display:flex;
flex-direction:column;
justify-content: flex-end;
align-items: flex-end;
}

.titre_lien a {
	margin-top:10px;
	color: #8dae24;
    text-decoration: none;
}


/* articles */

.articles {

	display: flex;
	justify-content: space-between;
	font-size: 1.3em;
	padding-bottom : 80px;
	padding-top : 10px;

}

article img {

	margin : 0px 5px 0px 0px;
}

article {
	font-size: 0.9em;
	margin : 0px 5px 0px 5px;


}


/* contenus */

.contenus {

	display: flex;
	justify-content: space-between;
	font-size: 1.3em;
	padding-bottom : 0px;
	padding-top : 10px;
	width: 1000px;
	margin: auto;

}

aside {
	background: url('../images/bg_news.jpg') ;
  	background-repeat: no-repeat; /* Le fond ne sera pas répété */
  	padding:50px 0px 20px 20px;
  	width: 610px;
}

.date {
	background: url('../images/bg_date.png') ;
  	background-repeat: no-repeat; /* Le fond ne sera pas répété */
  	background-size: 41px 78px;
  	width: 41px;
  	height: 78px;
  	margin-top:10px;
  	text-align: center;
  	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'GINKO', Arial, sans-serif;
	font-size: 0.8em;
	color: #950800;
}

aside article {
	display: flex;
	padding-top:7px;
	width:550px;
	margin:0px;
}

.contenu-article {
	width:450px;
	margin: 5px 10px 5px 10px;
	padding:0px;
	color: #000;
}

aside article h3{
	margin: 0px;
	


}

aside article p{
	margin: 5px 0px 0px 0px;
	font-size:0.85em;
	
}

.liste-villes {

	display: flex;
    justify-content: flex-start;
    margin-top: 0;
   }


.infos {
	margin-left: 20px;
	margin-right: 20px;
}

.infos h2{

	
    margin-top: 0;
	margin-bottom: 10px;
    background: url('../images/bg_titre.jpg') ;
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: left bottom; 
   	padding-bottom : 10px;

    
}

.infos p {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 0.8em;
	
}


.liste-villes ul {
	padding-left:0px;
	padding-right:20px;
	margin:0;
	font-size: 0.8em;
	color: #5d8814;

	}

.liste-villes li {
list-style-type: none;
}

.newsletter {
	margin-top:20px;
	background: url('../images/pot_newsletter.png') ;
	background-repeat: no-repeat;
    background-position: right bottom;
    height: 235px;

}

input[type=email] {
	height:20px;
	border-radius: 5px;
	padding-left:5px;
	
}

input[type=submit] {
      border-radius: 10px;
      padding: 6px;
      background-color: crimson;
      color: white;
      font-size: 0.6em;
    }

footer {
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:auto;
	width: 1000px;
	padding-top: 20px;
	padding-bottom:20px;
	background: url('../images/bg_footer.png') ;
	background-repeat: no-repeat;

}

footer .gauche {
	padding-left: 60px;
	display: flex;
	justify-content: center;


}

.gauche img {
	padding-left: 5px;
}

.droite a {
	color: #5d8814;
}