
body {
background: url('../img/bg-body.jpg')
}

#bloc_centre {
    width: 970px;
    margin: auto;
    padding-top: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-top: 10px;
}

nav {
	background-color: black;
	color: white;
	height: 30px;
	display: flex;
	align-items: center;

}

nav ul {
	display: flex;
	list-style-type:none;
	margin: 0;
	padding: 0;

}

nav li {
	margin-left: 15px;
	margin-right: 15px;
	&:hover {
		color: orange;
		cursor: pointer;
	}
}

#slider {
	display:flex;
}


#slider article {
	margin-left: 20px;
	flex:1;
}


#slider article h1 {
	font-size:1.6em;
	text-transform: uppercase;
}

#slider article p {
	font-size:1.3em;
	}


#slider .conteneur-slider img {
	width: 100%;
	height: 80%;
	
}

#slider article {
 margin: 20px 0 20px 20px;
}

.conteneur-slider {
	display:flex;
	flex-direction:column;
	flex: 2;
}

.puce {
	display: flex;
	justify-content: center;
	margin-top:10px;
}

.fa-circle {
 padding: 0 3px 0 3px;
 margin-right: 10px;
 font-size: 0.9em;
}

.orange {
	color: orange;
}

.work h2 {
	background-color: black;
	padding:8px 0 8px 10px;
	font-size: 1.2em;
	text-transform: uppercase;
	color: white;
}

.visuel {
	display:flex;
	justify-content: space-between;
	margin-top: 20px;
}

.element img {
	width: 220px;
	height: 130px;
}

.element h3,p {
	text-align: center;
} 


